%h1= t('.about_title')
.about-copy
  %h1.list
    Приложение Modern ART позволяет познакомится с некоторыми авторами современного искусства
    %br
      Пользователи сайта могут просматривать изображения по трем темам (три автора)
    %br
      Это такие авторы как
    %br
      Зулькарнайн Исмаил
    %br
      Энди Уорхол
    %br
      Анатолий Калашников
    %br
      Собранная галерея картин данных авторов предствляет большой интерес для ознакомления
    %br
      Ведь все авторы являются деятелями разного направления в современном искусстве